@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 350;
    color: #606060;
}

h1, h2 {
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation links */

#header {
    height: 75px;
    background-color: #8b8888d5;
   
}

#header h1 {
    color: black;
    text-decoration: none;
}

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    text-decoration: none;
    color: black;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid #606060;
}

.active {
    border-bottom: 1px solid #606060;
}

/* Section 1 */

#portrait-section {
    height: 500px;
    width: 100%;
    position: relative;
}

#left-about {
    width: 50%;
    margin: 0;
    float: left;
    margin-top: 20px;
}

#right-about {
    width: 50%;
    float: right;
}

#bio {
    border: 2px solid #606060;
    height: 200px;
    width: 70%;
    margin-top: 100px;
}


#circle-outer {
    width: 400px;
    height: 400px;
    padding: 30px; 
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-picture {
    background: url('../images/portrait.jpg') no-repeat center -200px;
    height: 100%;
    border-radius: 50%;

    /* animates zoom effect on portrait*/
    animation-name: portrait-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes portrait-zoom {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}

/* Interesting facts section */

#facts-section {
    height: 300px;
}

#facts-title {
    text-align: center;
    font-size: 200%;
    margin-bottom: 20px;
}

#facts {
    height: 175px;
}

#facts div {
    color: #fafafa;
    background-color: #606060;
    width: 20%;
    height: 150px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#facts h2 {
    color: #fafafa;
}

/* Video section */

#video-section {
    height: 500px;
}

#video-title {
    text-align: center;
}

#video {
    margin: 10px 0 0 25%;
}

/* footer */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #606060
}

#timeline {
    height: 400px;
}

#st-pauls {
    background-image: url('../images/st-pauls3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#timeline h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.timeline-parts-one {
    width: 10%;
    height: 200px;
    float: left;
    text-align: center;   
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px;
    vertical-align: middle;
    padding: 50px 5px;
    background-color: #909090;
    color: white;

}

.timeline-parts-two {
    width: 10%;
    height: 200px;
    float: left;
    text-align: center;   
    border: 2px solid grey;
    box-sizing: border-box;
    margin-top: 190px;
    border-radius: 10px;
    vertical-align: baseline;
    padding: 50px 5px;
    background-color: #909090;
    color: white;
}


#timeline h2 {
    font-size: 125%;
}

#timeline p {
    font-size: 110%;
}
