@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 350;
    color: #606060;
}

h1,
h2 {
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 10px;
}

/* navigation links */

#header {
    height: 75px;
    background-color: #8b8888d5;

}

#header h1 {
    color: black;
    text-decoration: none;
}

#menu {
    font-size: 120%;
}
#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    text-decoration: none;
    color: black;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid #606060;
}

.active {
    border-bottom: 1px solid #606060;
}

/* Section 1 */

#portrait-section {
    height: 500px;
    width: 100%;
    position: relative;
}

#left-about {
    width: 50%;
    margin: 0;
    float: left;
    margin-top: 20px;
}

#right-about {
    width: 50%;
    float: right;
}

#bio {
    border: 2px solid #606060;
    height: 225px;
    width: 500px;
    margin-top: 100px;
    border-radius: 4px;
}

#bio h1 {
    margin: 10px 10px 0 10px;
    font-size: 250%;
}

#bio h2 {
    margin: 0 10px 0 10px;
}

#bio p {
    margin: 10px 0 0 10px;
    font-size: 115%;
    color: black;
}

#circle-outer {
    width: 400px;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-picture {
    background: url('../images/portrait.jpg') no-repeat center -200px;
    height: 100%;
    border-radius: 50%;

    /* animates zoom effect on portrait*/
    animation-name: portrait-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes portrait-zoom {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

/* Interesting facts section */

#facts-section {
    height: 300px;
}

#facts-section h1 {
    font-size: 80%;
}

#facts-title {
    text-align: center;
    font-size: 200%;
    margin-bottom: 20px;
}

#facts {
    height: 150px;
}

#facts div {
    color: #fafafa;
    background-color: #606060;
    width: 20%;
    height: 150px;
    float: left;
    padding: 30px 5px 0;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#facts h2 {
    color: #fafafa;
}

/* Video section */

#video-section {
    height: 480px;
    margin-top: -75px;
}

#video-title {
    text-align: center;
}

#video {
    margin: 20px auto 0;
    display: block;
}

/* footer */

#footer {
    height: 250px;
    background-color: #8b8888d5;
}

.social-networks {
    text-align: center;
    height: 5px;
    padding: 5px;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/* timeline.html */

#timeline {
    height: 450px;
}

#st-pauls {
    background-image: url('../images/st-pauls3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
}

#timeline h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.timeline-parts-one {
    width: 10%;
    height: 200px;
    float: left;
    text-align: center;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px 5px;
    background-color: white;
    color: #909090;
}

.timeline-parts-two {
    width: 10%;
    height: 200px;
    float: left;
    text-align: center;
    border: 2px solid grey;
    box-sizing: border-box;
    margin-top: 190px;
    border-radius: 10px;
    padding: 40px 5px;
    background-color: white;
    color: #909090;
}

#timeline h2 {
    font-size: 100%;
}

#timeline p {
    font-size: 110%;
    color: black;
}

/* early_years.html */

#early-years {
    height: 900px;
    width: 100%;
    position: relative;
}

#early-years-bio {
    width: 50%;
    margin: 0;
    float: left;
}

#early-years-photo {
    width: 50%;
    float: right;
}

#early-years-paragraph {
    border: 2px solid #606060;
    height: 600px;
    width: 600px;
    margin: 100px auto 0;
    border-radius: 4px;
}

#early-years h1 {
    margin: 10px 10px 0 10px;
    font-size: 250%;
}

#early-years p {
    margin: 10px 0 0 10px;
    font-size: 115%;
    color: black;
}

#early-years-photo img {
    border-radius: 4px;
}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    .timeline-parts-one {
        width: 51%;
        height: 200px;
        float: left;
        text-align: center;
        border: 2px solid grey;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 40px 5px;
        background-color: white;
        color: #909090;
    }

    .timeline-parts-two {
        width: 51%;
        height: 200px;
        float: right;
        text-align: center;
        border: 2px solid grey;
        box-sizing: border-box;
        margin-top: 190px;
        border-radius: 10px;
        padding: 40px 5px;
        background-color: white;
        color: #909090;
        margin-top: -1px;
    }

    #timeline {
        height: 2000px;
    }

    #st-pauls {
        background-image: url('../images/st-pauls4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        overflow: hidden;
    }
}

/*For medium screen sizes from 1050px wide and down */
@media screen and (max-width: 1050px) {

    #portrait-section {
        height: 750px;
        width: 100%;
        position: relative;
    }

    #left-about {
        width: 100%;
        margin: 0;
        float: left;
        margin-top: 20px;
    }

    #right-about {
        width: 100%;
    }

    #bio {
        margin: 20px auto 0;
    }
}

/*For medium screen sizes from 900px wide and down */
@media screen and (max-width: 900px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-top: -30px;
    }

    #header {
        height: 115px;
    }
}

/*For medium screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #facts-section {
        height: 895px;
    }

    #facts div {
        width: 100%;
        height: 150px;
        float: left;
        padding: 30px 5px 0;
    }

    #video-section {
        height: px;
        margin-top: px;
    }

}

/*For medium screen sizes from 670px wide and down */
@media screen and (max-width: 690px) {
    #header {
        height: 150px;
    }

    #logo {
        line-height: 50px;
    }

    #menu {
        margin-top: -20px;
    }
}

/*For medium screen sizes from 630px wide and down */
@media screen and (max-width: 630px) {

    #video-section {
        height: 220px;
        margin-top: -75px;
    }
    
    #video-title {
        text-align: center;
    }
    
    iframe {
        width: 300px;
        height: 200px;
    }

    #timeline {
        height: 2040px;
    }
}

/* For small screen sizes 550px and down */
@media screen and (max-width: 550px) {

    #circle-outer {
        width: 250px;
        height: 250px;
        padding: 20px;
    }

    #circle-picture {
        background: url('../images/portrait3.jpg') no-repeat -40px -10px;
        height: 100%;
        border-radius: 50%;
        transform: 1.5;

        animates zoom effect on portrait animation-name: portrait-zoom;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }

    #right-about {
        height: 50px;
    }

    #bio {
        margin: 20px auto 0;
        font-size: 80%;
        height: 280px;
        width: 300px;
    }

    #facts-section {
        height: 895px;
        margin-top: -105px;
    }

}

/* For small screen sizes 450px and down */
@media screen and (max-width: 450px) {
    #header {
        height: 200px;
    }

    #logo {
        line-height: 50px;
    }

    #menu {
        margin-top: -20px;
    }
}
