@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 350;
    color: #606060;
}

h1, h2 {
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 10px;
    line-height: 75px;
}

p {
    font-weight: bold;
    font-size: 16px;
}

/* navigation links */

#header {
    height: 75px;
    background-color: rgb(169,169,169);

}

#header h1 {
    color: black;
    text-decoration: none;
}

#menu {
    font-size: 120%;
    line-height: 75px;
    font-weight: bold;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    text-decoration: none;
    color: black;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid #606060;
}

.active {
    border-bottom: 1px solid #606060;
}

/* Footer */

#footer {
    height: 150px;
    background-color: rgb(169,169,169);
}

.social-networks {
    text-align: center;
    height: 5px;
    padding: 5px;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 55px 1%;
    padding: 0 5%;
    color: black;
}

/* Home - Portrait Section */

#portrait-section {
    height: 500px;
    width: 100%;
    position: relative;
}

#circle-section {
    width: 50%;
    margin: 0;
    float: left;
    margin-top: 20px;
}

#bio-section {
    width: 50%;
    float: right;
}

#bio {
    border: 2px solid #606060;
    height: 225px;
    width: 500px;
    margin-top: 100px;
    border-radius: 4px;
}

#bio h1 {
    margin: 10px 10px 0 10px;
    font-size: 250%;
}

#bio h2 {
    margin: 0 10px 0 10px;
}

#bio p {
    margin: 10px 0 0 10px;
    font-size: 115%;
    color: black;
}

#circle-outer {
    width: 400px;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-picture {
    background: url('../images/portrait.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;

    /* animates zoom effect on portrait*/
    animation-name: portrait-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes portrait-zoom {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

/* Home - Interesting facts section */

#facts-section {
    height: 300px;
}

#facts-section h1 {
    font-size: 80%;
}

#facts-title {
    text-align: center;
    font-size: 200%;
    margin-bottom: 20px;
}

#facts {
    height: 150px;
}

#facts div {
    color: #fafafa;
    background-color: #606060;
    width: 20%;
    height: 150px;
    float: left;
    padding: 30px 5px 0;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#facts h2 {
    color: #fafafa;
}

/* Home - Video section */

#video-section {
    height: 480px;
    margin-top: -75px;
}

#video-title {
    text-align: center;
}

#video {
    margin: 20px auto 0;
    display: block;
}

/* Early Life */

#early-life {
    height: 850px;
    width: 100%;
}

#early-life-bio {
    width: 50%;
    float: left;
}

#early-life-photo {
    width: 50%;
    float: right;
}

#early-life-paragraph {
    border: 2px solid #606060;
    height: 590px;
    width: 600px;
    margin: 110px 15% 0;
    border-radius: 4px;
}

#early-life h1 {
    margin: 10px;
    font-size: 250%;
}

#early-life p {
    margin: 10px 10px 0 10px;
    font-size: 115%;
    color: black;
}

#young-winston-churchill {
    border-radius: 4px;
    margin: 85px 0 0 20%;
}

/* Timeline */

#timeline {
    height: 820px;
}

#timeline h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 150%;
}

.timeline-parts-one {
    width: 10%;
    height: 200px;
    float: left;
    text-align: center;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px 5px;
    background-color: #606060;
    color: white;
    list-style-type: none;
}

.timeline-parts-two {
    width: 10%;
    height: 200px;
    float: left;
    text-align: center;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px 5px;
    background-color: #606060;
    color: white;
    margin-top: 190px;
    list-style-type: none;
}

#timeline h2 {
    font-size: 100%;
}

#timeline p {
    font-size: 110%;
    color: white;
}

#st-pauls {
    background-image: url('../images/st-pauls.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
    padding-bottom: 50px;
    height: 320px;
}

/* For larger screen sizes from 1250px wide and down */
@media screen and (max-width: 1250px) {

    #early-life {
        height: 1340px;
    }
    
    #early-life-bio {
        width: 100%;
        margin: 0;
    }
    
    #early-life-photo {
        width: 100%;
        float: left;
    }
    
    #early-life-paragraph {      
        margin: 30px auto;
    }

    #young-winston-churchill {
        margin: 0px auto 0;
        display: block;
    }
}

/* For larger screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #timeline {
        height: 2425px;
    }
    .timeline-parts-one {
        width: 51%;
        float: left;
    }

    .timeline-parts-two {
        width: 51%;
        float: right;
        margin-top: -1px;
    }
}

/*For medium screen sizes from 1050px wide and down */
@media screen and (max-width: 1050px) {

    #portrait-section {
        height: 750px;
    }

    #circle-section {
        width: 100%;
        margin-top: 10px;
        float: left;
    }

    #bio-section {
        width: 100%;
    }

    #bio {
        margin: 20px auto 0;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-top: -30px;
    }

    #header {
        height: 115px;
    }

    #menu li {
        margin-right: 30px;
    }
}

/*For medium screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #facts-section {
        height: 895px;
    }

    #facts div {
        width: 100%;
    }
}

/*For medium screen sizes from 690px wide and down */
@media screen and (max-width: 690px) {
    #header {
        height: 150px;
        display: block;
    }

    #logo {
        line-height: 50px;
    }

    #menu {
        margin-top: -20px;
    }
}

/*For smaller screen sizes from 650px wide and down */
@media screen and (max-width: 650px) {
    #early-life {
        height: 1260px;
    }

    #early-life-paragraph {
        height: 695px;
        width: 415px;
        margin: 30px auto;
        padding-right: 5px;
        font-size: 15px;
    }

    #young-winston-churchill {
        margin: 0px auto 0;
        display: block;
        width: 280px;
    }
}

/*For smaller screen sizes from 630px wide and down */
@media screen and (max-width: 630px) {

    #video-section {
        height: 280px;
        margin-top: -75px;
    }

    #video-title {
        text-align: center;
    }

    iframe {
        width: 300px;
        height: 200px;
    }

}

/* For small screen sizes 550px and down */
@media screen and (max-width: 550px) {

    #circle-outer {
        width: 250px;
        height: 250px;
        padding: 20px;
    }

    #circle-picture {
        background: url('../images/portrait2.jpg') no-repeat center center;
        height: 100%;
        border-radius: 50%;

        /* animates zoom effect on portrait  */
        animation-name: portrait-zoom;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }

    #bio-section {
        height: 50px;
    }

    #bio {
        margin: 20px auto 0;
        font-size: 80%;
        height: 280px;
        width: 300px;
    }

    #facts-section {
        height: 895px;
        margin-top: -105px;
    }
}

/* For small screen sizes 450px and down */
@media screen and (max-width: 450px) {
    #header {
        height: 200px;
    }

    #logo {
        line-height: 50px;
    }

    #menu {
        margin-top: -20px;
    }

    #timeline h1 {
        font-size: 130%;
    }

    #early-life {
        height: 1390px;
    }

    #early-life-paragraph {
        height: 860px;
        width: 290px;
        padding-right: 3px;
        padding-bottom: 1px;
        font-size: 14px;
    }
}